<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="InvoiceServerConnection" value="Server=81.7.188.150;Database=BFOnline_InvoiceServer;uid=bfonline;pwd=F!GroV100!;"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
