<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="InvoiceServerConnection" value="Server=BFSQL.hostingkompagniet.dk;Database=BFOnline_InvoiceServer;uid=sa;pwd=Teknik!;"/>
    <add key="MasterDataFolder" value="C:\temp\pdf"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>

</configuration>
